@charset "UTF-8";
/* Compass */
/* Utilities */
/* =====================================
   Utilities.
==================================== */
/* Подключаем Susy */
/* Base */
/* Сбрасываем стили классическим ресетом*/
/* line 5, ../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*=======================================
   Settings. Задаем переменные.
======================================= */
/* Colors */
/* Цвет текста на белом фоне */
/* Цвет текста на темном фоне */
/* Текст заголовка h1, h2, навигации,  */
/* Бэкграунд навигации */
/* Заголовки новостей, в блоке b-news__main */
/* Typograthy */
/* Основной шрифт */
/* Шрифт боковой колонки с новостями */
/* Основной заголовок h1, метки по тематикам */
/* Font-size */
/* Font-weight */
/*=====================================
   Base styles. Задаем переменные, заголовки, body и прочее  по умолчанию.
===================================== */
/* line 5, ../sass/base/_base.scss */
body {
  width: 696px;
  margin: 0 auto;
  padding-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: normal;
  color: #000000;
  background-color: #ffffff;
}

/* line 16, ../sass/base/_base.scss */
h1 {
  /* Только логотип */
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 54px;
  line-height: 1,255813953em;
  /* 54px / 43px */
  color: #3e454d;
}

/* line 23, ../sass/base/_base.scss */
h2 {
  /* Заголовок в боковом блоке b-news__aside */
  font-size: 21px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 700;
  color: #3e454d;
}

/* line 30, ../sass/base/_base.scss */
h3 {
  /* Заголовок главной новости в блоке b-news__main--big */
  font-size: 18px;
  font-weight: 700;
  line-height: 1.166666667em;
  /* 21px / 18px : $font-L */
  color: #ffffff;
}

/* line 37, ../sass/base/_base.scss */
h4 {
  /* Заголовки блоков в b-news__main */
  font-size: 18px;
  font-weight: 700;
  color: #1e5ca9;
}

/* line 43, ../sass/base/_base.scss */
.clearfix {
  /* Fix для float элементов */
}
/* line 44, ../sass/base/_base.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 49, ../sass/base/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 52, ../sass/base/_base.scss */
.label__footbal, .label__ice-hockey, .label__box {
  /* стилизация меток к новостям */
  margin-right: 3px;
  padding: 0 3px 0 3px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;
  background-color: #2a972e;
}

/* line 60, ../sass/base/_base.scss */
.label__ice-hockey {
  background-color: #0089d1;
}

/* line 65, ../sass/base/_base.scss */
.label__box {
  background-color: #841116;
}

/*
* END Base styles.
*
*/
/* Blocks */
