/*=====================================
   Base styles. Задаем переменные, заголовки, body и прочее  по умолчанию.
===================================== */

body {
  width: 696px;
  margin: 0 auto;
  padding-left: 12px;
  font-family: $font-family-base;
  font-size: $font-M;
  line-height: normal;
  color: $color-text1;
  background-color: #ffffff;
}

h1 { /* Только логотип */
  font-family: $font-family-decor;
  font-size: 54px;
  line-height: 1,255813953em; /* 54px / 43px */
  color: $color-1;
}

h2 { /* Заголовок в боковом блоке b-news__aside */
  font-size: $font-XL;
  font-family: $font-family-news;
  font-weight: $font-weight-bold;
  color: $color-1;
}

h3 { /* Заголовок главной новости в блоке b-news__main--big */
  font-size: $font-L;
  font-weight: $font-weight-bold;
  line-height: 1.166666667em; /* 21px / 18px : $font-L */
  color: $color-text2;
}

h4 { /* Заголовки блоков в b-news__main */
  font-size: $font-L;
  font-weight: $font-weight-bold;
  color: $color-title;
}

.clearfix { /* Fix для float элементов */
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after { clear: both; }
}

.label__footbal { /* стилизация меток к новостям */ 
  margin-right: 3px;
  padding: 0 3px 0 3px;
  font-family: $font-family-decor;
  font-size: $font-XS;
  background-color: $color-label__footbal;
}

.label__ice-hockey {
  @extend .label__footbal;
  background-color: $color-label__ice-hockey;
}

.label__box {
  @extend .label__footbal;
  background-color: $color-label__box;
}



/*
* END Base styles.
*
*/
