/*=====================================
   Base styles. Задаем переменные, заголовки, body и прочее  по умолчанию.
===================================== */

body {
  width: 696px;
  margin: 0 auto;
  padding-left: 12px;
  font-family: $font-family-base;
  font-size: $font-M;
  line-height: normal;
  color: $color-text1;
}

h1 { /* Только логотип */
  font-family: $font-family-decor;
  font-size: 54px;
  line-height: 0.796296296em; /* 43px / 54px */
  color: $color-1;
}

h2 { /* Заголовок в боковом блоке b-news__aside */
  font-size: $font-XL;
  font-family: $font-family-news;
  font-weight: $font-weight-bold;
  color: $color-1;
}

h3 { /* Заголовок главной новости в блоке b-news__main--big */
  font-size: $font-L;
  font-weight: $font-weight-bold;
  line-height: 1.166666667; /* 21px / 18px : $font-L */
  color: $color-text2;
}

h4 { /* Заголовки блоков в b-news__main */
  font-size: $font-L;
  font-weight: $font-weight-bold;
  color: $color-title;
}

%clearfix { /* Fix для float элементов */
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after { clear: both; }
}

%label { /* стилизация меток к новостям */ 
  margin-left: -3px;
  padding: 0 2px 0 2px;
  margin-right: 3px;
  font-family: $font-family-decor;
  font-size: $font-XS;
  color: $color-text2;
}

.label {
  &--football {
    @extend %label;
    background-color: $color-label__footbal
  }
  &--hockey {
    @extend %label;
    background-color: $color-label__hockey
  }
  &--box {
    @extend %label;
    background-color: $color-label__box
  }
}

%time-label { 
  padding-right: 2px;
  color: $color-time-1;
}

.time-label {
  &--general { @extend %time-label; }
  &--usual { 
    @extend %time-label;
    color: $color-time-2;
  }
}

.btn { /* Кнопка  */
  display: block;
  width: 200px;
  height: 30px;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid $color-border--aside-1;
  border-radius: 3px;
  background: linear-gradient(#fff, #ccc);
  text-align: center;
  font-size: $font-M;
  font-weight: $font-weight-bold;
  color: #000000;
}

.btn-arrow { /* кнопка-стрелка "вверх" */
  display: block;
  width: 35px;
  height: 30px;
  background: 
    url("../img/arrow-up.png") 50% 50% no-repeat,
    linear-gradient(#fff, #ccc);
  border-radius: 3px;
  border: 1px solid $color-border--aside-1;
}



/*
* END Base styles.
*
*/
