/*=====================================
  Fonts. Подключаем необходимые шрифты.
===================================== */
@font-face {
    font-family: "Bebas";
    src: url("../fonts/bebasneue_regular.eot");
    src: url("../fonts/bebasneue_regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/bebasneue_regular.woff") format("woff"),
         url("../fonts/bebasneue_regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/helvetica-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}




