/*=======================================
   Settings. Задаем переменные.
======================================= */

/* Font-size */
$font-S: 12px;
.font-S { font-size: 12px; }

$font-M: 16px;
.font-M { font-size: 16px; }

$font-L: 18px;
.font-L { font-size: 18px; }

$font-XL: 20px;
.font-XL { font-size: 20px; }

$font-XXl: 36px;
.font-XXL { font-size: 36px; }

/* Colors */
$color-text1: #000000; /* Цвет текста на белом фоне */
$color-text2: #ffffff; /* Цвет текста на темном фоне */
$color-1: #3e454d; /* Текст заголовка H1, навигации,  */
$color-bg: #f5f5f5; /* Бэкграунд навигации */
$color-title: #1e5ca9; /* Заголовки новостей, в блоке b-news__main */
$color-4: #414141; /* Текс на белом фоне */

/* Typograthy */
$font-family-base: Arial, Helvetica, sans-serif; /* Основной шрифт */
$font-family-news: "Trebuchet MS", Helvetica, sans-serif; /* Шрифт боковой колонки с новостями */
