/*=====================================
   Block news aside. Новости, находящиеся справо от основного блока новостей.
===================================== */

.l-news__aside  {
  position: relative;
  float: left;
  margin-left: 10px;
}

.b-news__aside {
  width: 235px;
  .title { 
    border-bottom: 1px solid $color-border--aside-1;
    margin-bottom: 5px;
    padding-left: 1px;
  }
}

.b-news__aside__item {
  position: relative;
  padding: 10px 0 6px 55px;
  border-bottom: 1px solid $color-border--aside-2;
  color: $color-text1;
  .link { 
    text-decoration: none;
    color: $color-text1;
  }
}

