/*=====================================
   Block news main. Основные новости, находящиеся по цетру. Состоит из главной
новости и нескольких основных.
===================================== */

.l-news__main {
  float: left;
  margin-bottom: 50px;
}

.b-news__main {
  width: 420px;
}

.news-general {
  position: relative;
  .img {
    width: 420px;
    height: 280px;
    border-bottom: 4px solid $color-border--news;
  }
  .caption {
    position: relative;
    top: -58px;
    color: $color-text2;
    .link-title {
      display: block;
      position: absolute;
      overflow: hidden;
      text-decoration: none;
      background-color: rgba(64, 69, 75, .9);
      .title { padding: 3px 10px 6px 10px; }
    }
  }
  .text { 
    position: relative;
    margin-top: -3px;
    padding: 3px 10px 6px 10px;
    color: $color-text2;
    background-color: rgba(64, 69, 75, 1);
  }

}

.news-1,
.news-2 {
  padding: 13px 0 10px 0;
  border-bottom: 1px solid $color-border--news;
  .img { 
    float: left;
    width: 180px;
    height: 120px;
    padding: 4px 10px 10px 0;
  }
  .link-title {
    text-decoration: none;
    @extend %clearfix;
    .title {
      @extend %clearfix;
    }
  }
}






